<div>
    <span style="color:blue;">{{UserName}}</span>
    <a ng-click="goto('about')" href="">About</a>
    <a ng-click="goto('technology')" href="">Technology</a>
    <a ng-click="goto('home')" href="">Home</a>
    <a ng-click="goto('employee')" href="">Employee</a>
    <a ng-click="goto('login')" href="">LogOut</a>
</div><br /><br /><br />

            Select View:
            <select ng-model="aboutView">
                <option value="'/employee.html'">Table</option>
                <option value="'/employyeList.html'">List</option>
            </select>
            <!--<div ng-include="aboutView">-->
<button id="top"  ng-click="scrollTo('bottom')">Go to Bottom of the page</button>
                <div>
                    At Tech Mahindra, we truly believe that Technology makes it possible, but it's people who make it happen. 
                    Tech Mahindra aims to create a culture where Associates have the Freedom to Explore Opportunities to Connect, 
                    Co-create and Celebrate. While we have created multiple programs to Connect Associates’ aspirations to achievements,
                     we have also consciously fostered a culture of Co-creation by encouraging doing new things and new ways of doing things
                     and at the same time have made Celebrating a way of life at Tech Mahindra
                     by ensuring the seamless blending of life at work and beyond work.
                    <ul>
                        <li>
                            Professionalism - We have always sought the best people for the job and given them the freedom and the opportunity to grow.
                             We will continue to do so.
                             We will support innovation and well-reasoned risk taking, but will demand performance
                        </li>
                        <li>
                            Dignity of the Individual - We will value individual dignity, uphold the right to express disagreement and respect the time and efforts of others.
                             Through our actions, we will nurture fairness, trust, and transparency
                        </li>
                        <li>
                            Good Corporate Citizenship - As in the past, we will continue to seek long-term success,
                             which is in alignment with the needs of the countries we serve. 
                            We will do this without compromising on ethical business standards
                        </li>
                    </ul>
                    At Tech Mahindra, we truly believe that Technology makes it possible, but it's people who make it happen.
                    Tech Mahindra aims to create a culture where Associates have the Freedom to Explore Opportunities to Connect,
                    Co-create and Celebrate. While we have created multiple programs to Connect Associates’ aspirations to achievements,
                    we have also consciously fostered a culture of Co-creation by encouraging doing new things and new ways of doing things
                    and at the same time have made Celebrating a way of life at Tech Mahindra
                    by ensuring the seamless blending of life at work and beyond work.
                    <ul>
                        <li>
                            Professionalism - We have always sought the best people for the job and given them the freedom and the opportunity to grow.
                            We will continue to do so.
                            We will support innovation and well-reasoned risk taking, but will demand performance
                        </li>
                        <li>
                            Dignity of the Individual - We will value individual dignity, uphold the right to express disagreement and respect the time and efforts of others.
                            Through our actions, we will nurture fairness, trust, and transparency
                        </li>
                        <li>
                            Good Corporate Citizenship - As in the past, we will continue to seek long-term success,
                            which is in alignment with the needs of the countries we serve.
                            We will do this without compromising on ethical business standards
                        </li>
                    </ul>
                    At Tech Mahindra, we truly believe that Technology makes it possible, but it's people who make it happen.
                    Tech Mahindra aims to create a culture where Associates have the Freedom to Explore Opportunities to Connect,
                    Co-create and Celebrate. While we have created multiple programs to Connect Associates’ aspirations to achievements,
                    we have also consciously fostered a culture of Co-creation by encouraging doing new things and new ways of doing things
                    and at the same time have made Celebrating a way of life at Tech Mahindra
                    by ensuring the seamless blending of life at work and beyond work.
                    <ul>
                        <li>
                            Professionalism - We have always sought the best people for the job and given them the freedom and the opportunity to grow.
                            We will continue to do so.
                            We will support innovation and well-reasoned risk taking, but will demand performance
                        </li>
                        <li>
                            Dignity of the Individual - We will value individual dignity, uphold the right to express disagreement and respect the time and efforts of others.
                            Through our actions, we will nurture fairness, trust, and transparency
                        </li>
                        <li>
                            Good Corporate Citizenship - As in the past, we will continue to seek long-term success,
                            which is in alignment with the needs of the countries we serve.
                            We will do this without compromising on ethical business standards
                        </li>
                    </ul>
                    At Tech Mahindra, we truly believe that Technology makes it possible, but it's people who make it happen.
                    Tech Mahindra aims to create a culture where Associates have the Freedom to Explore Opportunities to Connect,
                    Co-create and Celebrate. While we have created multiple programs to Connect Associates’ aspirations to achievements,
                    we have also consciously fostered a culture of Co-creation by encouraging doing new things and new ways of doing things
                    and at the same time have made Celebrating a way of life at Tech Mahindra
                    by ensuring the seamless blending of life at work and beyond work.
                    <ul>
                        <li>
                            Professionalism - We have always sought the best people for the job and given them the freedom and the opportunity to grow.
                            We will continue to do so.
                            We will support innovation and well-reasoned risk taking, but will demand performance
                        </li>
                        <li>
                            Dignity of the Individual - We will value individual dignity, uphold the right to express disagreement and respect the time and efforts of others.
                            Through our actions, we will nurture fairness, trust, and transparency
                        </li>
                        <li>
                            Good Corporate Citizenship - As in the past, we will continue to seek long-term success,
                            which is in alignment with the needs of the countries we serve.
                            We will do this without compromising on ethical business standards
                        </li>
                    </ul>
                </div>
<button id="bottom" ng-click="scrollTo('top')">Go to top of the page</button>
            </div>
      